{% extends "base.html" %}
{% block content %}
    <form action="/search/results" method="post" id="form_search" style="
    	display: inline-block;
	left: 35%;
	top: 25%;
    	position: absolute;
	margin-left: auto;
    	margin-right: auto;
    	margin-top: auto;
    	margin-bottom: auto;">
        <center><h1 id="search_name">SeaRCH</h1></center>
		<input type="text" id="search_text" name="search_text" placeholder="Enter your query here..." style="min-width: 500px;
        	min-height: 30px;">
		<br>
		<br>
        <input type="submit" value="Go" id="search_btn ">
</form>
{% endblock %}
